<html>
<div class="container">
    <div class="main-body">
    <!-- Header Starts Here -->
	<%- include ("./header") %>
	<!-- Header Ends Here -->
      
          
    <head>
        <title>Mobile Store</title>
        <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="js/jquery-1.11.0.min.js"></script>
        <!-- Custom Theme files -->
        <link href="css/style.css" rel='stylesheet' type='text/css' />
        <script src="js/jquery.easydropdown.js"></script>
        <!-- Custom Theme files -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
        <!-- Google Fonts -->
        <script type="text/javascript" src="js/move-top.js"></script>
        <script type="text/javascript" src="js/easing.js"></script>
        <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){		
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
        </script>
        </head>
        <body>
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="images/sad.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4><%=user.Nom%> <%=user.Prenom%></h4>
                    
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="col-md-8">
            

              <div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>Project Status</h6>
                      <small>Email</small>
                      <p ><%=user.Email%></p>
                      <small>Phone</small>
                      
                        <p ><%=user.phone%></p>
                       
                      <h2>change pasword</h2>
                      <form action="change" method="POST">
                        <input name="cpwd" id="cpwd" placeholder="current password">
                        <input name="npwd" id="npwd" placeholder="new password">
                      </br>
                        <input type="submit"  value="submit">
                    </form>
                    <a class="nav-link d-block" href="logout">
                      <button>Logout</button>
                   </a>
                     <a></a>
                     
                    </div>
                   
                  </div>
                </div>
               
              </div>

 

            </div>
          </div>
          
          <style>
            body{
        margin-top:20px;
        color: #1a202c;
        text-align: left;
        background-color: #e2e8f0;    
    }
    
    .card {
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    }
    
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        width: 100%;
        
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }
    
    .card-body {
      
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }
    
    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }
    
    .gutters-sm>.col, .gutters-sm>[class*=col-] {
        padding-right: 8px;
        padding-left: 8px;
    }
    .mb-3, .my-3 {
        margin-bottom: 1rem!important;
    }
    
    .bg-gray-300 {
        background-color: #e2e8f0;
    }
    .h-100 {
        height: 100%!important;
    }
    .shadow-none {
        box-shadow: none!important;
    }
     input[type="submit"]{
	border: 0px solid #fff;
	background: url(../images/step-arw.png)no-repeat #75c7e5 69px;
	color: #fff;
	text-transform: uppercase;
	padding: 10px 33px 10px 21px;
	font-size: 1em;
	font-weight: 600;
	border-radius: 8px;
	-webkit-border-radius:8px;	
	-moz-border-radius:8px;	
	-o-border-radius:8px;
	outline:none;
}


        </style>
        </div>
    </div>
</body>
</html>